h1, h2 {
  font-family: Lato;
}
.wrapper {
  border: 2px solid red;
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
}
.elem, .special, .special2 {
  height: 80px;
  width: 80px;
  margin: 2px;
  background-color: navy;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special, .special2 {
  background-color: goldenrod;
}

.wrapper2 {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
}

.special2 {
  flex: 0 1 30%;
}